In [1]:
# import dependencies
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import psycopg2
import time

In [2]:
# defince local directory
file_dir = 'C:\\Users\\MN\\Desktop\\Boot_Camp_Data_Analytics\\Module_8\\Movies-ETL\\'

In [3]:
f'{file_dir}filename'

'C:\\Users\\MN\\Desktop\\Boot_Camp_Data_Analytics\\Module_8\\Movies-ETL\\filename'

In [4]:
# open wiki file
with open(f'{file_dir}/wikipedia.movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [5]:
##delete
# determin length of records
# len(wiki_movies_raw)

In [6]:
##delete
# First 5 records
# wiki_movies_raw[:5]
# Last 5 records
# wiki_movies_raw[-5:]
# Some records in the middle
# wiki_movies_raw[3600:3605]

In [7]:
# load kaggle and ratings data
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv')
ratings = pd.read_csv(f'{file_dir}ratings.csv')

C:\Users\MN\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3051: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# create wiki df
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [9]:
##delete
# show columns in wiki df
# wiki_movies_df.columns.tolist()

In [10]:
# create dictionary of movies, remove tv shows
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]
# len(wiki_movies)

In [11]:
# create function to remove alternate language movies and rename columns
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    # combine alternate titles into one list
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [12]:
# create list of movies without alternate lang
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [13]:
# make clean movies into df
wiki_movies_df = pd.DataFrame(clean_movies)

# show columns
# sorted(wiki_movies_df.columns.tolist())

In [14]:
# Only keep movies with proper imdb_id
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
# print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
# print(len(wiki_movies_df))
# wiki_movies_df.head()

In [15]:
# Count null values, keep any that are less than 90% null 
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [16]:
# remove null entries from box office
box_office = wiki_movies_df['Box office'].dropna()

In [17]:
# get list of entries in box office that are not strings

# def is_not_a_string(x):
#     return type(x) != str
# box_office[box_office.map(is_not_a_string)]

# box_office[box_office.map(lambda x: type(x) != str)]

In [18]:
# convert lists to strings
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [19]:
# use regex to find entries like $123.4 million/billion
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

In [20]:
# count number of entires like $123.4 million/billion
# box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

In [21]:
# use regex to find entries like $123,456,789.
form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

In [22]:
# count number of entires like $123,456,789.
# box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

In [23]:
# create vars that represent form 1 and 2. Will be used to find missing forms
matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

In [24]:
# find entries that are not like form 1 and 2 (~ = not)
# box_office[~matches_form_one & ~matches_form_two]

In [25]:
# replace ranges with higher value
box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [26]:
# function to normalize box office entries
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [27]:
# Find box office entries that match form 1 or 2 and run through parse_dollars function
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [28]:
# delete original Box Office column
wiki_movies_df.drop('Box office', axis=1, inplace=True)

In [29]:
# create budget list without null values
budget = wiki_movies_df['Budget'].dropna()

In [30]:
# convert any lists to strings
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [31]:
# remove ranges
budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

In [32]:
# find budget entries that don't match form 1 or 2
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)
# budget[~matches_form_one & ~matches_form_two]

In [33]:
# remove citations
budget = budget.str.replace(r'\[\d+\]\s*', '')
# budget[~matches_form_one & ~matches_form_two]

In [34]:
# find budget entries that match form 1 or 2 and run through parse_dollars function
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [35]:
# delete original budget column
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [36]:
# save release date list, remove any internal lists and null values.
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [37]:
# ways dates are entered
date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [38]:
# find entries that are of the 4 forms
# release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})', flags=re.IGNORECASE)

In [39]:
# convert to datetime
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [40]:
# create list of running time. remove nulls and change lists to strings.
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [41]:
# count number of entries like ### minutes
# running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()

In [42]:
# find what excluded entries look like
# running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE) != True]

In [43]:
# count number of entires like ### m
# running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE).sum()

In [44]:
# find what excluded entries look like
# running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE) != True]

In [45]:
# save extracted running time and convert to nans to 0. coerce makes errors NaNs. fillna() makes NaNs 0. 
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [46]:
# converto hours to minutes
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [47]:
# delete original running time column
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [48]:
# Count adult movies
# kaggle_metadata['adult'].value_counts()

In [49]:
# identify adult entries that are not True or False
# kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

In [50]:
# Keep False adult movies then drop entire column
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [51]:
# count video entries
# kaggle_metadata['video'].value_counts()

In [52]:
# remove non-videos from the df
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [53]:
# convert columns to ints
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [54]:
# convert to datetime
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [55]:
# get info on ratings df
# ratings.info(null_counts=True)

In [56]:
# convert timestamp to datetime
pd.to_datetime(ratings['timestamp'], unit='s')
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [57]:
# make historgram of ratings
# ratings['rating'].plot(kind='hist')
# ratings['rating'].describe()

In [58]:
# identify redundant columns
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [59]:
# plot running times from both dfs
# movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [60]:
# plot budgets from both dfs
# movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [61]:
# plot box office from both dfs
# movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')
# movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [62]:
# plot release date from both dfs
# movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [63]:
# find outlier
# movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [64]:
# idendify index for deletion
# movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [65]:
# delete entry
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [66]:
# find null entries for release date
# movies_df[movies_df['release_date_wiki'].isnull()]

In [67]:
# convert wiki language entries to tuple if its a list and count.
# movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [68]:
# count kaggle language
# movies_df['original_language'].value_counts(dropna=False)

In [69]:
# compare wiki and kaggle production entries
# movies_df[['Production company(s)','production_companies']]

In [70]:
# drop unwanted columns
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [71]:
# create function that moves data from wiki to kaggle if kaggle is empty
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [72]:
# fill missing kaggle data with wiki data
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')

In [73]:
# identify columns with 1 value
# for col in movies_df.columns:
#     lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
#     value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
#     num_values = len(value_counts)
#     if num_values == 1:
#         print(col)

In [74]:
# delete video column
# movies_df['video'].value_counts(dropna=False)

In [75]:
# reorder columns
movies_df = movies_df[['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [76]:
# rename columns
movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [77]:
# group rating data by movie and rename userID to count. Then rearrange columns to show counts as rating values
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [78]:
# rename columns for better understanding
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [79]:
# merge ratings with movie df.
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [80]:
# replace NaNs with 0s
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [81]:
# get sql server pw
from config import db_password

In [82]:
# server connection
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

In [83]:
# create db engine
engine = create_engine(db_string)

In [84]:
# save movies_df data to sql
# movies_df.to_sql(name='movies', con=engine)

In [86]:
# # Save ratings to SQL
# # create a variable for the number of rows imported
# rows_imported = 0
# # get the start_time from time.time()
# start_time = time.time()
# for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):

#     # print out the range of rows that are being imported
#     print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

#     data.to_sql(name='ratings', con=engine, if_exists='append')

#     # increment the number of rows imported by the size of 'data'
#     rows_imported += len(data)

#     # add elapsed time to final print out
#     print(f'Done. {time.time() - start_time} total seconds elapsed')

In [88]:
movies_with_ratings_df.head()

,imdb_id,kaggle_id,title,original_title,tagline,belongs_to_collection,wikipedia_url,imdb_link,runtime,budget,...,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
0,tt0098987,9548,The Adventures of Ford Fairlane,The Adventures of Ford Fairlane,Kojak. Columbo. Dirty Harry. Wimps.,NaN,https://en.wikipedia.org/wiki/The_Adventures_o...,https://www.imdb.com/title/tt0098987/,104.0,49000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,tt0098994,25501,"After Dark, My Sweet","After Dark, My Sweet",All they risked was everything.,NaN,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",https://www.imdb.com/title/tt0098994/,114.0,6000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tt0099005,11856,Air America,Air America,The few. The proud. The totally insane.,NaN,https://en.wikipedia.org/wiki/Air_America_(film),https://www.imdb.com/title/tt0099005/,112.0,35000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,tt0099012,8217,Alice,Alice,NaN,NaN,https://en.wikipedia.org/wiki/Alice_(1990_film),https://www.imdb.com/title/tt0099012/,102.0,12000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tt0099018,25943,Almost an Angel,Almost an Angel,Who does he think he is?,NaN,https://en.wikipedia.org/wiki/Almost_an_Angel,https://www.imdb.com/title/tt0099018/,95.0,25000000.0,...,3.0,0.0,3.0,2.0,5.0,26.0,37.0,46.0,16.0,11.0